h3 {
    font-size: 25px;;
}

.btn-success:hover {
    background-color: yellow;
}

canvas{
    animation-name: example;
    animation-duration: 50;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 40px mediumspringgreen;}
    to{box-shadow: 1px 1px 40px greenyellow;}
}